body{
    margin: 0;
    padding: 0;
}
/* header start */
header{
    background-color: #121b2a;
    padding: 10px 0;
    margin-bottom: 100px;
}
.wrapper {
    width: 80%;
    /* border: solid 1px white; */
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    float: left;
    width: 20%;
    /* border: 1px solid white; */
}

.logo img{
    width: 100%;
}

.menu {
    float: right;
    width: 70%;
    /* border: 1px solid white; */
    margin-top: 40px;
}

.menu ul{
    float: right;
}
.menu ul li{
    /* display: inline; */
    list-style: none;
    float: left;

}
.menu ul li a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding:0 20px;
    display: inline-block;
}
.menu ul li:last-child a{
    padding-right: 0;
}
.menu ul li a:hover{
    color: #0A7ABB;
}

/* header end */